/* initial setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #A45454;
  --secondary-color: #EFEFEF;
  --black-color: #000;
  --white-color: #fff;
  --box-shadow: 0 0 30px 5px #dcdcdc;
  --box-border: 2px solid #A45454;
  --section-padding: 80px 50px;
  --link-hover: 300ms ease-in;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  max-width: 1196px;
  margin: 0 auto;
  /* background-color: greenyellow; */
}

/* links */
a {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--black-color);
  transition: var(--link-hover);
}










/* services */
#services {
  background-color: var(--secondary-color);
  padding: var(--section-padding);
}

.card {
  display: flex;
  gap: 40px;
}

.card a:hover {
  color: var(--main-color);
  transition: var(--link-hover);
}

.card__box {
  width: 370px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.card__box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  /* object-position: top; */
}

.card__inner {
  padding: 25px 35px 35px 35px;
}


/* footer */
footer {
  background-color: var(--main-color);
  padding: var(--section-padding);
}

footer p {
  color: var(--white-color);
}

.footer {
  display: flex;
  gap: 40px;
}

.footer__contact {
  width: 370px;
}