/* initial setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #A45454;
  --secondary-color: #EFEFEF;
  --black-color: #000;
  --white-color: #fff;
  --box-shadow: 0 0 5px 5px #EFEFEF;
  --box-border: 2px solid #A45454;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  max-width: 1196px;
  margin: 0 auto;
  /* background-color: greenyellow; */
}





/* footer */
footer {
  background-color: var(--main-color);
  padding: 60px;
}

footer span {
  font-weight: 600;
}

footer p {
  color: var(--white-color);
}

footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

footer a:hover {
  color: var(--black-color);
  transition: 300ms ease-in;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.contact {
  max-width: 400px;
}